<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Hello, <span th:text="${user.getName()}"></span>!</h1>
        <div class="col">
            <p>Your information is this:</p>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Name</h5>
                            <h2 class="card-text" th:text="${user.getName()}"></h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Last name</h5>
                            <h2 class="card-text" th:text="${user.getLastname()}"></h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Username</h5>
                            <h2 class="card-text" th:text="${user.getUsername()}"></h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Email</h5>
                            <h2 class="card-text" th:text="${user.getEmail()}"></h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Last modification</h5>
                            <h2 class="card-text" th:text="${user.getLastModifiedDate()}"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>